/** DATA2201: Bow Valley College
	Group 2: Alex Tran, Connor Pittman & Janine Neville
	Group project: SKS Bank database
	Version: 7.1
	Instructor: Nisha Radhamoni  **/


USE master
GO

/**  Object:  Database SKS  **/
IF DB_ID('SKS') IS NOT NULL
	DROP DATABASE SKS
GO

CREATE DATABASE SKS
GO 

USE SKS
GO


/**  Object:  Table Customer  **/    
CREATE TABLE Customer(
	CustomerID INT PRIMARY KEY IDENTITY(200,1),
	FirstName VARCHAR (50) NOT NULL,
	LastName VARCHAR (50) NOT NULL,
	Address VARCHAR (100)
	)
GO

/**  Object:  Table Employee  **/   
CREATE TABLE Employee(
	EmployeeID INT PRIMARY KEY IDENTITY(100,1) NOT NULL,
	EmployeePos VARCHAR (50) NULL,
	Address VARCHAR(100) NULL,
	HireDate DATE NULL,
	LastName VARCHAR (50) NULL,
	FirstName VARCHAR (50) NULL,
	ManagerID INT NULL,
	PayRate MONEY NULL
	)
GO

/**  Object:  Table Branch  **/   
CREATE TABLE Branch(
	BranchID INT PRIMARY KEY IDENTITY(30,1),
	BranchName VARCHAR (50) NULL,
	City VARCHAR (50) NULL
	)
GO

/**  Object:  Table Account  **/   
CREATE TABLE Account(
	AccountID INT PRIMARY KEY IDENTITY(110,1),
	AccountDeposit DECIMAL NULL,
	EmployeeID INT REFERENCES Employee (EmployeeID),
	LastAccessed DATE NULL,
	Balance DECIMAL NULL,
	InterestRate DECIMAL(5,3) NULL,
	AccountType VARCHAR (50) NULL
	)
GO

/**  Object:  Table EmployeeLocation  **/   
CREATE TABLE EmployeeLocation(
	LocationID INT PRIMARY KEY IDENTITY(300,1),
	EmployeeID INT REFERENCES Employee (EmployeeID),
	Location VARCHAR (100) NOT NULL
	)
GO

/**  Object:  Table Loans  **/   
CREATE TABLE Loans(
	LoanID INT PRIMARY KEY IDENTITY(210,1),
	BranchID INT REFERENCES Branch (BranchID),	
	)
GO

/**  Object:  Table AccountLoan  **/   
CREATE TABLE AccountLoan(
	LoanID INT REFERENCES Loans (LoanID),
	AccountID INT REFERENCES Account (AccountID),
	PRIMARY KEY (LoanID, AccountID)
	)
GO

/**  Object:  Table CustomerAccount  **/   
CREATE TABLE CustomerAccount(
	CustomerID INT REFERENCES Customer (CustomerID),
	AccountID INT REFERENCES Account (AccountID),
	PRIMARY KEY (CustomerID, AccountID)
	)
GO

/**  Object:  Table ChequeRecord  **/   
CREATE TABLE ChequeRecord(
	ChequeRecordID INT PRIMARY KEY IDENTITY(600,1),
	AccountID INT REFERENCES Account (AccountID),
	Amount DECIMAL NULL,
	ChequeDate DATE NULL
	)
GO

/**  Object:  Table LoanRecord  **/   
CREATE TABLE LoanRecord(
	LoanRecordID INT PRIMARY KEY IDENTITY(500,1),
	LoanID INT REFERENCES Loans (LoanID),
	PaymentNumber INT NOT NULL,
	PaymentDate DATETIME NOT NULL,
	LoanAmount DECIMAL NOT NULL
	)
GO

/**  Adding records to the Customer table  **/   
GO 

/**  Adding records to the Account table  **/ 
	
GO

/**  Adding records to the Branch table  **/ 
INSERT Branch (BranchName, City) VALUES
	('Cranston', 'Calgary'),
	('Crescent Heights', 'Calgary'),
	('Westmount', 'Edmonton'),
	('Sunridge', 'Calgary'),
	('Country Hills', 'Calgary'),
	('Pleasantview', 'Edmonton'),
	('Downtown', 'Calgary'),
	('Bowness', 'Calgary'),
	('Inglewood', 'Calgary'),
	('Shawnessy', 'Calgary'),
	('Valley Ridge', 'Calgary'),
	('Coventry Hills', 'Calgary'),
	('Shaganappi', 'Calgary'),
	('Sage Hill', 'Calgary'),
	('Panorama Hills', 'Calgary'),
	('East Village', 'Calgary')
GO
SET IDENTITY_INSERT Loans ON


INSERT Loans(LoanID,BranchID) VALUES 
	(210, 30),
	(211, 31),
	(212, 33),
	(214, 37),
	(215, 38)
SET IDENTITY_INSERT Loans OFF

/**  Adding records to the ChequeRecord table  **/ 
GO

/**  Adding records to the LoanRecord table  **/ 
GO


/**  Adding records to the Employee table  **/ 
GO


/**  Adding records to the EmployeeLocation table  **/ 
GO